//- index page
if is_home()
  article.full
    h1(itemprop='headline')= page.title
    if page.updated
    != page.content
  include _comments
//- articles page
if is_page() && page.title.toLowerCase() == 'articles'
  article.full
    h1(itemprop='headline')= page.title
    != page.content
    - var lastyear = 0
    for post, index in site.posts.sort('date', 'desc').toArray()
      if lastyear != post.date.format('YYYY')
        if index != 0
          | </ul>
        - lastyear = post.date.format('YYYY')
        h4= lastyear
        | <ul>
        li(itemprop='name')
          a(href= config.root + post.path, itemprop='url') #{post.title}
          |  &mdash;
          time(itemprop='datePublished', datetime= post.date.toISOString())= full_date(new Date(post.date), ' MMMM Do')
      else
        li
          a(href= config.root + post.path) #{post.title}
          |  &mdash;
          time(itemprop='datePublished', datetime= post.date.toISOString())= full_date(new Date(post.date), ' MMMM Do')
    if site.posts.toArray().length != 0
      | </ul>
  include _comments
else if is_page()
  article.full
    h1(itemprop='headline')= page.title
    if page.updated
    != page.content
  include _comments
else if is_post()
  article.full
    h1(itemprop='headline')= page.title
    span.post-meta
      | Published on
      time(itemprop='datePublished', datetime= page.date.toISOString())= full_date(new Date(page.date), ' dddd, MMMM Do YYYY') + ' at ' + full_date(new Date(page.date), 'H:mm')
      if page.updated
        br
        | Last updated on
        time(itemprop='dateModified', datetime= page.date.toISOString())= full_date(new Date(page.updated), ' dddd, MMMM Do YYYY') + ' at ' + full_date(new Date(page.updated), 'H:mm')
    != page.content
  include _comments